@use 'sass:math';

$d: 20;

.snowfall {
    display: flex;
    //overflow: hidden;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    //flex-flow: wrap;

    span {
        position: absolute;
        top: 0;
        bottom: 0;
        display: inline-block;
        //visibility: hidden;
        height: 80px;
        width: 80px;
        border-radius: 50%; //56% 44% 73% 27% /  45% 68% 32% 55%;//50%;
        &:nth-child(odd){
            background: rgb(215, 122, 16);
            animation: snowy-1 5s infinite linear;
        }
    
        &:nth-child(even){
            background: rgb(16, 215, 72);
            animation: snowy-2 5s infinite linear;
        }
    }

}

@for $a from 1 through 2 {

    @keyframes snowy-#{$a} {
        0% {
            opacity: 0.2;
            visibility: visible;
            border-radius: 50%;
            transform: translate(0, 0) rotate(0deg) scale(1);
        }

        100% {
            opacity: 0.8;
            border-radius: 56% 44% 73% 27% / 45% 68% 32% 55%;
            $tx: #{$d*math.pow(-1,$a)}vh;
            $ty: #{$d*math.pow(-1,$a)}vw;
            transform: translate($tx, $ty) rotate(360deg) scale(2);
        }
    }
}