:root {
  --h1color: maroon;
  --h2color: rebeccapurple;
  --h3color: darkblue;
  --liacolor: yellowgreen;
}

@font-face {
  font-family: "Pixel";
  src: local("AdvancedPixel7-2L9W"),
    url("./AdvancedPixel7-2L9W.ttf") format("truetype");
  font-weight: normal;
}

body {
  background-color: black;
  font-family:'Times New Roman', Times, serif;
}

div.pad {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  align-self: center;
  padding: 5% 0 0;
  display: block;
  z-index: 1;
  scrollbar-width: none;
}

a {
  text-decoration: none;
  color:aquamarine;
}

h1 {
  text-align: center;
  font-size: 64px;
  color: white;
  display: block;
  margin: 0;
  overflow: auto;
  background-color: var(--h1color);
}

h1:hover {
  background-image: none;
  background-color: red;
}

h2 {
  text-align: center;
  font-size: 50px;
  margin: 0;
  display: block;
  color: white;
  overflow: auto;
  background-color: var(--h2color);
}

h3 {
  text-align: center;
  font-size: 40px;
  margin: 0;
  display: block;
  color: white;
  overflow: auto;
  background-color: var(--h3color);
  opacity: 0.9;
}

h3:hover {
  opacity: 1;
}

.namebox {
  font-family:'Times New Roman', Times, serif;
  display: block;
  width: 98.8%;
  font-size: 45px;
  overflow: auto;
  text-align: center;
}

.name {
  background-color: darkred;
  color:white;
  border-style: solid;
  border-width: 5px;
  border-color: red;
}

.name:hover {
  border-style: solid;
  border-color: white;
}

h2:hover {
  background-image: none;
  background-color: blueviolet
}

ul {
  text-align: center;
  list-style-type: none;
  padding-left: 4vw;
  font-size: 40px;
  margin: 0;
  display: block;
  overflow: auto;
  background-color: green;
}

@media (max-width:480px) {
  ul {
    font-size: 7vw;
  }
}

li {
  color: #fff;
}

li:hover {
  background-image: none;
  background-color: lawngreen;
  color: black;
}

li a {
  background-image: none;
  text-decoration: none;
  color: white;
}

li a:hover {
  background-image: none;
  background-color: lawngreen;
  text-decoration: none;
  color: black;
}

p {
  font-size: 28px;
  background-color: aqua;
  margin: 0;
  opacity: 0.9;
  padding: 10px;
}

p:hover {
  opacity: 1;
}

button {
  font-size: 28px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.button {
  font-family:'Times New Roman', Times, serif;
  background-color: lawngreen;
  border: 20px;
  border-color: darkgreen;
}

.button:hover{
  color: white;
  background-color: green;
}

.goodsquare{
  //animation: changecolor 10s infinite steps(1);
  $kft:10;
  @keyframes changecolor {
    @for $i from 1 through $kft{
      $kfi:calc($i/$kft)*100%;
      $a:calc($i/$kft)*360deg;
      #{$kfi} {filter : sepia(100%) hue-rotate(#{$a})}
    }
  }
}
